<div class="modalbox" data-type="register">
    <div class="box">
        <div class="head">
            <h2>Inscription</h2>
            <button class="closeBtn">
                <img src="assets/svg/Close.svg" alt="Icon de fermeture">
            </button>
        </div>
        <p>Inscrivez-vous pour accéder à vos cryptomonnaies favorites en toute simplicité.</p>

        <div class="groups">
            <div class="group">
                <label for="username">Nom d’utilisateur</label>
                <input type="text" name="username" id="username" placeholder="Entrez votre nom d’utilisateur...">
            </div>

            <div class="group">
                <label for="email">Adresse Email</label>
                <input type="email" name="email" id="email" placeholder="Entrez votre adresse email...">
            </div>

            <div class="group">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" placeholder="Entrez votre mot de passe...">
            </div>
        </div>

        <button class="purpleNeonBtn">S’inscrire</button>
        <a id="haveAccount" href="#">Vous avez déjà un compte ?</a>
    </div>
</div>