:root {
    --background-color: #1F2937;
    --purple-color: #8B5CF6;
    --green-color: #10B981;
    --red-color: #EF4444;
    --gray-color: #9CA3AF;
    --white-color: #F9FAFB;
    --transition-hover: 200ms ease all;
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/Montserrat-Light.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
    color: var(--white-color);
    font-family: Montserrat-Regular;
}

a, button {
    font-size: 15px;
    color: var(--gray-color)
}

p {
    font-size: 16px;
}

h6 {
    font-size: 19.2px;
}

h5 {
    font-size: 23.04px;
}

h4 {
    font-size: 27.65px;
}

h3 {
    font-size: 33.18px;
}

h2 {
    font-size: 39.81px;
}

h1 {
    font-size: 47.78px;
}

.content {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 0 10px;
}

/****************************************
========>        BUTTONS        <========
****************************************/
.coinGeckoBtn {
    width: 180px;
    height: 55px;
    opacity: .8;
    background-image: url(../img/CoingeckoLinkBtn.png);
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    transition: var(--transition-hover);
}

.coinGeckoBtn:hover {
    opacity: 1;
}

.purpleNeonBtn {
    cursor: pointer;
    padding: 0.7em 1em;
    border-radius: 0.5em;
    min-height: 2.4em;
    min-width: 3em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    letter-spacing: 0.05em;
    font-weight: bold;
    background-color: var(--purple-color);
    color: var(--white-color);
    border: 0;
    box-shadow: inset 1px 10px 10px #ffffff40;

}

/****************************************
========>         NAVBAR        <========
****************************************/
nav {
    height: 100px;
}

nav .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .content .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

nav .content .left img {
    height: 84px;
    width: 84px;
}

nav .content .left h2 {
    font-family: Montserrat-SemiBold;
}

nav .content .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav .content .right a {
    text-decoration: none;
    transition: var(--transition-hover);
}

nav .content .right a:hover {
    color: var(--white-color);
}

/****************************************
========>         FOOTER        <========
****************************************/
footer {
    min-height: 350px;
}

footer .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer .content .top {
    display: flex;
    justify-content: space-between;
}

footer .content .top .left {
    max-width: 500px;
}

footer .content .top .left h4 {
    font-family: Montserrat-Bold;
}

footer .content .top .left p {
    font-family: Montserrat-Light;
}

footer .content .top .right {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

footer .content .line {
    width: 100%;
    background-color: var(--gray-color);
    height: 1.5px;
    opacity: 0.5;
    margin: 2vh 0;
}

footer .content .bot {
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .content .bot p {
    font-family: Montserrat-Light;
    color: var(--gray-color);
}

@media screen and (max-width: 835px) {
    footer .content .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2vh;
    }

    footer .content .top .left {
        margin: auto;
    }

    footer .content .top .right {
        margin: auto;
    }

    footer .content .bot p {
        text-align: center;
    }
}